# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [1]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
!pip install -q cassandra-driver

In [3]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
# YOUR NAME ========>  SAITEJA NAMANI
# YOUR SU EMAIL ====>  snamani@syr.edu

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [7]:
#1 Spark session

cassandra_host = "cassandra"
user = "minio"
passwd = "SU2orange!"
s3_bucket = "gamestreams"
s3_server = "http://minio:9000"
s3_access_key = user
s3_secret_key = passwd
mongo_uri = "mongodb://admin:mongopw@mongo:27017/demo.feedback?authSource=admin"
elastic_host = "elasticsearch"
elastic_port = "9200"

bolt_url = "bolt://neo4j:7687"

jars = [
    "org.mongodb.spark:mongo-spark-connector_2.12:3.0.1",
    "com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.1.0",
    "org.elasticsearch:elasticsearch-spark-20_2.12:7.15.0"
]

spark = SparkSession\
    .builder \
    .master("local") \
    .appName('jupyter-pyspark') \
        .config("spark.cassandra.connection.host", cassandra_host) \
        .config("spark.jars.packages",",".join(jars)) \
        .config("spark.mongodb.input.uri", mongo_uri) \
        .config("spark.mongodb.output.uri", mongo_uri) \
        .config("spark.hadoop.fs.s3a.endpoint", s3_server ) \
        .config("spark.hadoop.fs.s3a.access.key", s3_access_key) \
        .config("spark.hadoop.fs.s3a.secret.key", s3_secret_key) \
        .config("spark.hadoop.fs.s3a.fast.upload", True) \
        .config("spark.hadoop.fs.s3a.path.style.access", True) \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.es.nodes", elastic_host) \
        .config("spark.es.port",elastic_port) \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [8]:
#2a enrollments
#Reading enrollments data from MinIO
df_enrollments = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("s3a://enrollments/enrollments.csv")

print("--------- Top 10 rows of the Enrollment data frame ---------")
#Displaying the top 10 rows of the data frame
df_enrollments.show(10)
print("------- Schema of enrollments ------")
#Printing the schema of the enrollments data frame
df_enrollments.printSchema()

--------- Top 10 rows of the Enrollment data frame ---------
+----+-----------------+------+-------+-----------------+-----+------------+
|term|course_enrollment|course|section|       student_id|grade|grade_points|
+----+-----------------+------+-------+-----------------+-----+------------+
|1221|                1|IST659|   M001|      orenjouglad|    C|         2.0|
|1221|                2|IST659|   M001|      billmelator|    A|         4.0|
|1221|                3|IST659|   M001|       morrisless|    A|         4.0|
|1221|                4|IST659|   M001|amberwavesofgrain|   A-|       3.667|
|1221|                5|IST659|   M001|         abbykuss|    A|         4.0|
|1221|                6|IST659|   M001|       tallyitupp|    A|         4.0|
|1221|                7|IST659|   M001|     rubyslippers|   B-|       2.667|
|1221|                8|IST659|   M001|          salladd|   A-|       3.667|
|1221|                9|IST659|   M001|isabellegunnering|    A|         4.0|
|1221|               10|IST659|   M001|        rustycarz|    B|         3.0|
+----+-----------------+------+-------+-----------------+-----+------------+
only showing top 10 rows

------- Schema of enrollments ------
root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)

In [9]:
#2b sections 
#Reading Sections data from MinIO
df_sections = spark.read.format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load("s3a://enrollments/sections.csv")


#Displaying the top 10 rows of the data frame
print("- Top 10 rows of the Sections data frame -")
df_sections.show(10)
#Printing the schema of the Sections data frame
print("------- Schema of Sections ------")
df_sections.printSchema()

- Top 10 rows of the Sections data frame -
+----+------+-------+----------+--------+
|term|course|section|enrollment|capacity|
+----+------+-------+----------+--------+
|1221|IST659|   M001|        20|      20|
|1221|IST659|   M002|        20|      20|
|1221|IST722|   M001|        25|      28|
|1221|IST615|   M001|        22|      28|
|1221|IST621|   M001|        22|      24|
|1221|IST687|   M001|        20|      20|
|1221|IST687|   M002|        21|      24|
|1221|IST707|   M001|        28|      28|
|1222|IST659|   M001|        24|      24|
|1222|IST769|   M001|        19|      24|
+----+------+-------+----------+--------+
only showing top 10 rows

------- Schema of Sections ------
root
 |-- term: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [10]:
#3a terms 
# Reading terms from MongoDB
df_terms = spark.read.format("mongo")\
            .option("database", "ischooldb")\
            .option("collection","terms")\
            .load()

print("- Top 10 rows of the teams  -")
df_terms.show(10)
print("------- Schema of teams ------")
df_terms.printSchema()

- Top 10 rows of the teams  -
+----+-------------+----+-----------+--------+----+
| _id|academic_year|code|       name|semester|year|
+----+-------------+----+-----------+--------+----+
|1221|    2021-2022|1221|  Fall 2021|    Fall|2021|
|1222|    2021-2022|1222|Spring 2022|  Spring|2022|
|1231|    2022-2023|1231|  Fall 2022|    Fall|2022|
|1232|    2022-2023|1232|Spring 2023|  Spring|2023|
+----+-------------+----+-----------+--------+----+

------- Schema of teams ------
root
 |-- _id: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- code: string (nullable = true)
 |-- name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- year: integer (nullable = true)

In [11]:
#3b courses
# Reading courses from MongoDB
df_courses = spark.read.format("mongo")\
            .option("database", "ischooldb")\
            .option("collection","courses")\
            .load()

print("- Top 10 rows of the courses  -")
df_courses.show(10)
print("------- Schema of courses ------")
df_courses.printSchema()

- Top 10 rows of the courses  -
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|   _id|  code|credits|         description|elective_in_programs| key_assignments|                name|prerequisites|required_in_programs|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+
|IST659|IST659|      3|Definition, devel...|                  []|       [project]|Data Administrati...|           []|            [IS, DS]|
|IST722|IST722|      3|Introduction to c...|                [IS]| [project, exam]|    Data Warehousing|     [IST659]|                  []|
|IST769|IST769|      3|Analyze relationa...|                [DS]| [project, exam]|Advanced Big Data...|     [IST659]|                  []|
|IST615|IST615|      3|Cloud services cr...|                  []|[project, paper]|    Cloud Management|           []|            [IS, DS]|
|IST714|IST714|      3|Advanced, lab-bas...|            [IS, DS]|       [project]|  Cloud Architecture|     [IST615]|                  []|
|IST621|IST621|      3|Information and t...|                  []|         [paper]|Information Manag...|           []|                [IS]|
|IST687|IST687|      3|Introduces inform...|                [IS]| [project, exam]|Introduction to D...|           []|                [DS]|
|IST707|IST707|      3|General overview ...|                [IS]|          [exam]|Applied Machine L...|     [IST687]|                [DS]|
|IST718|IST718|      3|A broad introduct...|                  []|       [project]|  Big Data Analytics|     [IST687]|                [DS]|
+------+------+-------+--------------------+--------------------+----------------+--------------------+-------------+--------------------+

------- Schema of courses ------
root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- elective_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- key_assignments: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- required_in_programs: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [12]:
#3c Programs
# Reading Programs from MongoDB
df_programs = spark.read.format("mongo")\
            .option("database", "ischooldb")\
            .option("collection","programs")\
            .load()

print("- Top 10 rows of the programs  -")
df_programs.show(10)
print("------- Schema of programs ------")
df_programs.printSchema()

- Top 10 rows of the programs  -
+---+----+-------+--------------------+--------------------+--------------------+-----------+
|_id|code|credits|    elective_courses|                name|    required_courses|       type|
+---+----+-------+--------------------+--------------------+--------------------+-----------+
| IS|  IS|     36|[IST722, IST714, ...| Information Systems|[IST659, IST615, ...|    Masters|
| DS|  DS|     34|    [IST769, IST714]|        Data Science|[IST659, IST615, ...|    Masters|
|BDC| BDC|      9|                null|Data Engineering ...|[IST659, IST722, ...|Certificate|
|CCC| CCC|      9|                null|Cloud Computing C...|[IST621, IST615, ...|Certificate|
|MLC| MLC|      9|                null|Machine Learning ...|[IST687, IST707, ...|Certificate|
+---+----+-------+--------------------+--------------------+--------------------+-----------+

------- Schema of programs ------
root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- name: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

In [13]:
#3d students
# Reading students from MongoDB
df_students = spark.read.format("mongo")\
            .option("database", "ischooldb")\
            .option("collection","students")\
            .load()

print("- Top 10 rows of the students  -")
df_students.show(10)
print("------- Schema of students ------")
df_students.printSchema()

- Top 10 rows of the students  -
+---------------+----------------+-------+
|            _id|            name|program|
+---------------+----------------+-------+
|       abbykuss|       Abby Kuss|     DS|
|     adamantium|     Adam Antium|     IS|
|      addieowse|      Addie Owse|     IS|
|   aidensomewun|   Aiden Somewun|     IS|
|   aidenknowone|   Aiden Knowone|     DS|
|       alfrecso|       Al Frecso|     DS|
|        alkohol|        Al Kohol|     DS|
|    allanwrench|    Allan Wrench|     IS|
|      allygator|      Ally Gator|     IS|
|almafrienzergon|Alma Frienzergon|     IS|
+---------------+----------------+-------+
only showing top 10 rows

------- Schema of students ------
root
 |-- _id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- program: string (nullable = true)

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [14]:
#4 wide_sections

from pyspark.sql.functions import col

# Registering DataFrames as temporary views
for df, name in [(df_sections, "sections"), (df_terms, "terms"), 
                 (df_courses, "courses"), (df_programs, "programs"), 
                 (df_students, "students")]:
    df.createOrReplaceTempView(name)

# The SQL query for the join operation
query1 = """
SELECT s.term as term_code, s.course as course_code, s.section, s.enrollment, s.capacity,
       t.academic_year, t.semester, t.year as term_year,
       c.name as course_name, c.credits as course_credits, c.description as course_description, c.prerequisites
FROM sections s
INNER JOIN terms t ON s.term = t.code
INNER JOIN courses c ON s.course = c.code
"""

# Executing the SQL query
wide_column = spark.sql(query1)

# Printing the schema and display the data
print("------- Schema of wide section ------")
wide_column.printSchema()
print("------- Top 10 rows of the Wide sections ------")
wide_column.show(10)

------- Schema of wide section ------
root
 |-- term_code: integer (nullable = true)
 |-- course_code: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)

------- Top 10 rows of the Wide sections ------

+---------+-----------+-------+----------+--------+-------------+--------+---------+--------------------+--------------+--------------------+-------------+
|term_code|course_code|section|enrollment|capacity|academic_year|semester|term_year|         course_name|course_credits|  course_description|prerequisites|
+---------+-----------+-------+----------+--------+-------------+--------+---------+--------------------+--------------+--------------------+-------------+
|     1221|     IST615|   M001|        22|      28|    2021-2022|    Fall|     2021|    Cloud Management|             3|Cloud services cr...|           []|
|     1222|     IST615|   M001|        19|      24|    2021-2022|  Spring|     2022|    Cloud Management|             3|Cloud services cr...|           []|
|     1231|     IST615|   M001|        21|      24|    2022-2023|    Fall|     2022|    Cloud Management|             3|Cloud services cr...|           []|
|     1232|     IST615|   M002|        20|      24|    2022-2023|  Spring|     2023|    Cloud Management|             3|Cloud services cr...|           []|
|     1232|     IST615|   M001|        21|      28|    2022-2023|  Spring|     2023|    Cloud Management|             3|Cloud services cr...|           []|
|     1221|     IST659|   M002|        20|      20|    2021-2022|    Fall|     2021|Data Administrati...|             3|Definition, devel...|           []|
|     1221|     IST659|   M001|        20|      20|    2021-2022|    Fall|     2021|Data Administrati...|             3|Definition, devel...|           []|
|     1222|     IST659|   M001|        24|      24|    2021-2022|  Spring|     2022|Data Administrati...|             3|Definition, devel...|           []|
|     1231|     IST659|   M002|        20|      20|    2022-2023|    Fall|     2022|Data Administrati...|             3|Definition, devel...|           []|
|     1231|     IST659|   M001|        20|      20|    2022-2023|    Fall|     2022|Data Administrati...|             3|Definition, devel...|           []|
+---------+-----------+-------+----------+--------+-------------+--------+---------+--------------------+--------------+--------------------+-------------+
only showing top 10 rows

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [15]:
#5 create cassandra table for wide_sections
from cassandra.cluster import Cluster
with Cluster([cassandra_host]) as cluster:
    session = cluster.connect()
    session.execute("CREATE KEYSPACE IF NOT EXISTS ischooldb WITH replication={ 'class': 'SimpleStrategy', 'replication_factor' : 1 };")

    session.execute("""
        CREATE TABLE IF NOT EXISTS ischooldb.sections (term_code text, course_code text, section text, enrollment int, capacity int,
        academic_year text,semester text,term_year int,course_name text,course_credits int,course_description text, prerequisites list<text>,
        PRIMARY KEY ((term_code, course_code), section)
        );
        """)

In [16]:
sectionsdf_cas = spark.read \
    .format("org.apache.spark.sql.cassandra") \
    .options(table="sections", keyspace="ischooldb") \
    .load()
print("------- Schema of sections ------")
sectionsdf_cas.printSchema()
print("------- Displaying the table of sections cassandra table ------")
sectionsdf_cas.show()

------- Schema of sections ------
root
 |-- term_code: string (nullable = false)
 |-- course_code: string (nullable = false)
 |-- section: string (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_name: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- semester: string (nullable = true)
 |-- term_year: integer (nullable = true)

------- Displaying the table of sections cassandra table ------

+---------+-----------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-------------+--------+---------+
|term_code|course_code|section|academic_year|capacity|course_credits|  course_description|         course_name|enrollment|prerequisites|semester|term_year|
+---------+-----------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-------------+--------+---------+
|     1222|     IST714|   M001|    2021-2022|      20|             3|Advanced, lab-bas...|  Cloud Architecture|        17|     [IST615]|  Spring|     2022|
|     1222|     IST718|   M001|    2021-2022|      28|             3|A broad introduct...|  Big Data Analytics|        28|     [IST687]|  Spring|     2022|
|     1231|     IST722|   M001|    2022-2023|      28|             3|Introduction to c...|    Data Warehousing|        23|     [IST659]|    Fall|     2022|
|     1221|     IST621|   M001|    2021-2022|      24|             3|Information and t...|Information Manag...|        22|           []|    Fall|     2021|
|     1231|     IST621|   M001|    2022-2023|      28|             3|Information and t...|Information Manag...|        28|           []|    Fall|     2022|
|     1222|     IST615|   M001|    2021-2022|      24|             3|Cloud services cr...|    Cloud Management|        19|           []|  Spring|     2022|
|     1231|     IST687|   M001|    2022-2023|      20|             3|Introduces inform...|Introduction to D...|        17|           []|    Fall|     2022|
|     1231|     IST687|   M002|    2022-2023|      24|             3|Introduces inform...|Introduction to D...|        20|           []|    Fall|     2022|
|     1221|     IST687|   M001|    2021-2022|      20|             3|Introduces inform...|Introduction to D...|        20|           []|    Fall|     2021|
|     1221|     IST687|   M002|    2021-2022|      24|             3|Introduces inform...|Introduction to D...|        21|           []|    Fall|     2021|
|     1222|     IST659|   M001|    2021-2022|      24|             3|Definition, devel...|Data Administrati...|        24|           []|  Spring|     2022|
|     1232|     IST769|   M001|    2022-2023|      24|             3|Analyze relationa...|Advanced Big Data...|        20|     [IST659]|  Spring|     2023|
|     1221|     IST722|   M001|    2021-2022|      28|             3|Introduction to c...|    Data Warehousing|        25|     [IST659]|    Fall|     2021|
|     1221|     IST707|   M001|    2021-2022|      28|             3|General overview ...|Applied Machine L...|        28|     [IST687]|    Fall|     2021|
|     1232|     IST659|   M001|    2022-2023|      20|             3|Definition, devel...|Data Administrati...|        20|           []|  Spring|     2023|
|     1232|     IST714|   M001|    2022-2023|      24|             3|Advanced, lab-bas...|  Cloud Architecture|        20|     [IST615]|  Spring|     2023|
|     1232|     IST718|   M001|    2022-2023|      28|             3|A broad introduct...|  Big Data Analytics|        28|     [IST687]|  Spring|     2023|
|     1222|     IST687|   M001|    2021-2022|      20|             3|Introduces inform...|Introduction to D...|        18|           []|  Spring|     2022|
|     1222|     IST687|   M002|    2021-2022|      20|             3|Introduces inform...|Introduction to D...|        20|           []|  Spring|     2022|
|     1221|     IST659|   M001|    2021-2022|      20|             3|Definition, devel...|Data Administrati...|        20|           []|    Fall|     2021|
+---------+-----------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-------------+--------+---------+
only showing top 20 rows

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [17]:
#6 load wide_sections into cassandra

# Write the DataFrame into the 'sections' table in the 'ischooldb' keyspace
wide_column.write \
    .format("org.apache.spark.sql.cassandra") \
    .option("keyspace", "ischooldb") \
    .option("table", "sections") \
    .mode("append") \
    .save()

# Reading the data back from the 'sections' table.
sectionsdf_cas = spark.read \
    .format("org.apache.spark.sql.cassandra") \
    .option("keyspace", "ischooldb") \
    .option("table", "sections") \
    .load()

# Display the data that we have loaded
sectionsdf_cas.show()

+---------+-----------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-------------+--------+---------+
|term_code|course_code|section|academic_year|capacity|course_credits|  course_description|         course_name|enrollment|prerequisites|semester|term_year|
+---------+-----------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-------------+--------+---------+
|     1221|     IST687|   M001|    2021-2022|      20|             3|Introduces inform...|Introduction to D...|        20|           []|    Fall|     2021|
|     1221|     IST687|   M002|    2021-2022|      24|             3|Introduces inform...|Introduction to D...|        21|           []|    Fall|     2021|
|     1222|     IST659|   M001|    2021-2022|      24|             3|Definition, devel...|Data Administrati...|        24|           []|  Spring|     2022|
|     1232|     IST769|   M001|    2022-2023|      24|             3|Analyze relationa...|Advanced Big Data...|        20|     [IST659]|  Spring|     2023|
|     1221|     IST722|   M001|    2021-2022|      28|             3|Introduction to c...|    Data Warehousing|        25|     [IST659]|    Fall|     2021|
|     1221|     IST707|   M001|    2021-2022|      28|             3|General overview ...|Applied Machine L...|        28|     [IST687]|    Fall|     2021|
|     1232|     IST659|   M001|    2022-2023|      20|             3|Definition, devel...|Data Administrati...|        20|           []|  Spring|     2023|
|     1232|     IST714|   M001|    2022-2023|      24|             3|Advanced, lab-bas...|  Cloud Architecture|        20|     [IST615]|  Spring|     2023|
|     1232|     IST718|   M001|    2022-2023|      28|             3|A broad introduct...|  Big Data Analytics|        28|     [IST687]|  Spring|     2023|
|     1222|     IST687|   M001|    2021-2022|      20|             3|Introduces inform...|Introduction to D...|        18|           []|  Spring|     2022|
|     1222|     IST687|   M002|    2021-2022|      20|             3|Introduces inform...|Introduction to D...|        20|           []|  Spring|     2022|
|     1221|     IST659|   M001|    2021-2022|      20|             3|Definition, devel...|Data Administrati...|        20|           []|    Fall|     2021|
|     1221|     IST659|   M002|    2021-2022|      20|             3|Definition, devel...|Data Administrati...|        20|           []|    Fall|     2021|
|     1232|     IST615|   M001|    2022-2023|      28|             3|Cloud services cr...|    Cloud Management|        21|           []|  Spring|     2023|
|     1232|     IST615|   M002|    2022-2023|      24|             3|Cloud services cr...|    Cloud Management|        20|           []|  Spring|     2023|
|     1231|     IST707|   M001|    2022-2023|      24|             3|General overview ...|Applied Machine L...|        24|     [IST687]|    Fall|     2022|
|     1222|     IST769|   M001|    2021-2022|      24|             3|Analyze relationa...|Advanced Big Data...|        19|     [IST659]|  Spring|     2022|
|     1221|     IST615|   M001|    2021-2022|      28|             3|Cloud services cr...|    Cloud Management|        22|           []|    Fall|     2021|
|     1232|     IST621|   M001|    2022-2023|      28|             3|Information and t...|Information Manag...|        28|           []|  Spring|     2023|
|     1232|     IST621|   M002|    2022-2023|      24|             3|Information and t...|Information Manag...|        21|           []|  Spring|     2023|
+---------+-----------+-------+-------------+--------+--------------+--------------------+--------------------+----------+-------------+--------+---------+
only showing top 20 rows

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [18]:
#7 flatten `course_is_elective_in_programs` and `course_is_required_in_programs` 

from pyspark.sql.functions import col, when, array_contains


# Defining a function to create new columns for each program
def add_program_columns(df, programs, column_name):
    for program in programs:
        df = df.withColumn(
            f"course_is_{column_name}_for_{program}",
            when(array_contains(col(column_name + "_in_programs"), program), True).otherwise(False)
        )
    return df

# Apply the function for 'elective' and 'required'
df_courses = add_program_columns(df_courses, ["IS", "DS"], "elective")
df_courses = add_program_columns(df_courses, ["IS", "DS"], "required")

# Drop the specified columns
columns_to_drop = ["elective_in_programs", "required_in_programs", "prerequisites", "key_assignments"]
df_courses = df_courses.drop(*columns_to_drop)

# Display the schema and the data to verify the transformations
print("------- Schema ------")
df_courses.printSchema()
print("------- Data Frame ------")
df_courses.show()

------- Schema ------
root
 |-- _id: string (nullable = true)
 |-- code: string (nullable = true)
 |-- credits: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course_is_elective_for_IS: boolean (nullable = false)
 |-- course_is_elective_for_DS: boolean (nullable = false)
 |-- course_is_required_for_IS: boolean (nullable = false)
 |-- course_is_required_for_DS: boolean (nullable = false)

------- Data Frame ------
+------+------+-------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+
|   _id|  code|credits|         description|                name|course_is_elective_for_IS|course_is_elective_for_DS|course_is_required_for_IS|course_is_required_for_DS|
+------+------+-------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+
|IST659|IST659|      3|Definition, devel...|Data Administrati...|                    false|                    false|                     true|                     true|
|IST722|IST722|      3|Introduction to c...|    Data Warehousing|                     true|                    false|                    false|                    false|
|IST769|IST769|      3|Analyze relationa...|Advanced Big Data...|                    false|                     true|                    false|                    false|
|IST615|IST615|      3|Cloud services cr...|    Cloud Management|                    false|                    false|                     true|                     true|
|IST714|IST714|      3|Advanced, lab-bas...|  Cloud Architecture|                     true|                     true|                    false|                    false|
|IST621|IST621|      3|Information and t...|Information Manag...|                    false|                    false|                     true|                    false|
|IST687|IST687|      3|Introduces inform...|Introduction to D...|                     true|                    false|                    false|                     true|
|IST707|IST707|      3|General overview ...|Applied Machine L...|                     true|                    false|                    false|                     true|
|IST718|IST718|      3|A broad introduct...|  Big Data Analytics|                    false|                    false|                    false|                     true|
+------+------+-------+--------------------+--------------------+-------------------------+-------------------------+-------------------------+-------------------------+

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [19]:
#8 load wide_sections_flattened into elasticsearch

# Remove the '_id' field if it's not necessary for your Elasticsearch documents
df_courses = df_courses.drop("_id")

# Write the DataFrame to Elasticsearch, using the 'code' field as the document ID
df_courses.write \
    .format("org.elasticsearch.spark.sql") \
    .option("es.resource", '{index}/{type}'.format(index="sections", type="_doc")) \
    .option("es.mapping.id", "code") \
    .option("es.nodes", elastic_host) \
    .option("es.port", elastic_port) \
    .mode("overwrite") \
    .save()

# Read back the data to verify
df_sections = spark.read \
    .format("org.elasticsearch.spark.sql") \
    .option("es.resource", '{index}/{type}'.format(index="sections", type="_doc")) \
    .option("es.nodes", elastic_host) \
    .option("es.port", elastic_port) \
    .load()

df_sections.show()

+------+-------------------------+-------------------------+-------------------------+-------------------------+-------+--------------------+--------------------+
|  code|course_is_elective_for_DS|course_is_elective_for_IS|course_is_required_for_DS|course_is_required_for_IS|credits|         description|                name|
+------+-------------------------+-------------------------+-------------------------+-------------------------+-------+--------------------+--------------------+
|IST659|                    false|                    false|                     true|                     true|      3|Definition, devel...|Data Administrati...|
|IST722|                    false|                     true|                    false|                    false|      3|Introduction to c...|    Data Warehousing|
|IST769|                     true|                    false|                    false|                    false|      3|Analyze relationa...|Advanced Big Data...|
|IST615|                    false|                    false|                     true|                     true|      3|Cloud services cr...|    Cloud Management|
|IST714|                     true|                     true|                    false|                    false|      3|Advanced, lab-bas...|  Cloud Architecture|
|IST621|                    false|                    false|                    false|                     true|      3|Information and t...|Information Manag...|
|IST687|                    false|                     true|                     true|                    false|      3|Introduces inform...|Introduction to D...|
|IST707|                    false|                     true|                     true|                    false|      3|General overview ...|Applied Machine L...|
|IST718|                    false|                    false|                     true|                    false|      3|A broad introduct...|  Big Data Analytics|
+------+-------------------------+-------------------------+-------------------------+-------------------------+-------+--------------------+--------------------+

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [20]:
#9 create wide_enrollments

df_enrollments.createOrReplaceTempView("enrollments")
df_terms.createOrReplaceTempView("terms")
df_courses.createOrReplaceTempView("courses")
df_programs.createOrReplaceTempView("programs")
df_students.createOrReplaceTempView("students")

query2 = """
SELECT e.*, 
       t.academic_year, t.name as term_name, t.semester, t.year as term_year,
       c.name as course_name, c.credits as course_credits, c.description as course_description, p.required_courses, p.elective_courses,
       s.name as student_name, p.name as program_name, p.type as program_type, p.code as program_code, p.credits as program_credits
FROM enrollments e
JOIN terms t ON e.term = t.code
JOIN courses c ON e.course = c.code
JOIN students s ON e.student_id = s._id
JOIN programs p ON s.program = p.code ;
"""
wide_column2 = spark.sql(query2)

columns_to_drop = ['_id']
wide_column2 = wide_column2.drop(*columns_to_drop)

print("Wide enrollments Data Schema:")
wide_column2.printSchema()

print("Wide enrollments Data:")
wide_column2.show()

Wide enrollments Data Schema:
root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- student_name: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_type: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_credits: integer (nullable = true)

Wide enrollments Data:

+----+-----------------+------+-------+-----------+-----+------------+-------------+-----------+--------+---------+--------------------+--------------+--------------------+--------------------+----------------+------------+------------+------------+------------+---------------+
|term|course_enrollment|course|section| student_id|grade|grade_points|academic_year|  term_name|semester|term_year|         course_name|course_credits|  course_description|    required_courses|elective_courses|student_name|program_name|program_type|program_code|program_credits|
+----+-----------------+------+-------+-----------+-----+------------+-------------+-----------+--------+---------+--------------------+--------------+--------------------+--------------------+----------------+------------+------------+------------+------------+---------------+
|1231|               12|IST615|   M001| artiechoke|    A|         4.0|    2022-2023|  Fall 2022|    Fall|     2022|    Cloud Management|             3|Cloud services cr...|[IST659, IST615, ...|[IST769, IST714]| Artie Choke|Data Science|     Masters|          DS|             34|
|1231|               18|IST659|   M002| artiechoke|    A|         4.0|    2022-2023|  Fall 2022|    Fall|     2022|Data Administrati...|             3|Definition, devel...|[IST659, IST615, ...|[IST769, IST714]| Artie Choke|Data Science|     Masters|          DS|             34|
|1231|                6|IST687|   M002| artiechoke|    A|         4.0|    2022-2023|  Fall 2022|    Fall|     2022|Introduction to D...|             3|Introduces inform...|[IST659, IST615, ...|[IST769, IST714]| Artie Choke|Data Science|     Masters|          DS|             34|
|1232|               21|IST621|   M001| artiechoke|    A|         4.0|    2022-2023|Spring 2023|  Spring|     2023|Information Manag...|             3|Information and t...|[IST659, IST615, ...|[IST769, IST714]| Artie Choke|Data Science|     Masters|          DS|             34|
|1222|               18|IST615|   M001| peteterpan|    A|         4.0|    2021-2022|Spring 2022|  Spring|     2022|    Cloud Management|             3|Cloud services cr...|[IST659, IST615, ...|[IST769, IST714]| Pete Terpan|Data Science|     Masters|          DS|             34|
|1221|                5|IST687|   M001| peteterpan|   B+|       3.333|    2021-2022|  Fall 2021|    Fall|     2021|Introduction to D...|             3|Introduces inform...|[IST659, IST615, ...|[IST769, IST714]| Pete Terpan|Data Science|     Masters|          DS|             34|
|1221|               28|IST707|   M001| peteterpan|    A|         4.0|    2021-2022|  Fall 2021|    Fall|     2021|Applied Machine L...|             3|General overview ...|[IST659, IST615, ...|[IST769, IST714]| Pete Terpan|Data Science|     Masters|          DS|             34|
|1232|               27|IST718|   M001| peteterpan|   A-|       3.667|    2022-2023|Spring 2023|  Spring|     2023|  Big Data Analytics|             3|A broad introduct...|[IST659, IST615, ...|[IST769, IST714]| Pete Terpan|Data Science|     Masters|          DS|             34|
|1232|               10|IST714|   M001| peteterpan|    B|         3.0|    2022-2023|Spring 2023|  Spring|     2023|  Cloud Architecture|             3|Advanced, lab-bas...|[IST659, IST615, ...|[IST769, IST714]| Pete Terpan|Data Science|     Masters|          DS|             34|
|1232|                1|IST659|   M001|  camcorder|   A-|       3.667|    2022-2023|Spring 2023|  Spring|     2023|Data Administrati...|             3|Definition, devel...|[IST659, IST615, ...|[IST769, IST714]|  Cam Corder|Data Science|     Masters|          DS|             34|
|1221|               15|IST687|   M001|  camcorder|   A-|       3.667|    2021-2022|  Fall 2021|    Fall|     2021|Introduction to D...|             3|Introduces inform...|[IST659, IST615, ...|[IST769, IST714]|  Cam Corder|Data Science|     Masters|          DS|             34|
|1221|               21|IST707|   M001|  camcorder|    A|         4.0|    2021-2022|  Fall 2021|    Fall|     2021|Applied Machine L...|             3|General overview ...|[IST659, IST615, ...|[IST769, IST714]|  Cam Corder|Data Science|     Masters|          DS|             34|
|1232|                3|IST769|   M001|  camcorder|    A|         4.0|    2022-2023|Spring 2023|  Spring|     2023|Advanced Big Data...|             3|Analyze relationa...|[IST659, IST615, ...|[IST769, IST714]|  Cam Corder|Data Science|     Masters|          DS|             34|
|1222|                6|IST718|   M001|  camcorder|   B-|       2.667|    2021-2022|Spring 2022|  Spring|     2022|  Big Data Analytics|             3|A broad introduct...|[IST659, IST615, ...|[IST769, IST714]|  Cam Corder|Data Science|     Masters|          DS|             34|
|1222|               22|IST659|   M001|chaselounge|   A-|       3.667|    2021-2022|Spring 2022|  Spring|     2022|Data Administrati...|             3|Definition, devel...|[IST659, IST615, ...|[IST769, IST714]|Chase Lounge|Data Science|     Masters|          DS|             34|
|1232|               12|IST687|   M001|chaselounge|    A|         4.0|    2022-2023|Spring 2023|  Spring|     2023|Introduction to D...|             3|Introduces inform...|[IST659, IST615, ...|[IST769, IST714]|Chase Lounge|Data Science|     Masters|          DS|             34|
|1231|               22|IST722|   M001|chaselounge|    A|         4.0|    2022-2023|  Fall 2022|    Fall|     2022|    Data Warehousing|             3|Introduction to c...|[IST659, IST615, ...|[IST769, IST714]|Chase Lounge|Data Science|     Masters|          DS|             34|
|1232|                1|IST621|   M002|chaselounge|   B-|       2.667|    2022-2023|Spring 2023|  Spring|     2023|Information Manag...|             3|Information and t...|[IST659, IST615, ...|[IST769, IST714]|Chase Lounge|Data Science|     Masters|          DS|             34|
|1222|                4|IST615|   M001|  macintosh|    A|         4.0|    2021-2022|Spring 2022|  Spring|     2022|    Cloud Management|             3|Cloud services cr...|[IST659, IST615, ...|[IST769, IST714]|  Mac Intosh|Data Science|     Masters|          DS|             34|
|1231|               26|IST621|   M001|  macintosh|    A|         4.0|    2022-2023|  Fall 2022|    Fall|     2022|Information Manag...|             3|Information and t...|[IST659, IST615, ...|[IST769, IST714]|  Mac Intosh|Data Science|     Masters|          DS|             34|
+----+-----------------+------+-------+-----------+-----+------------+-------------+-----------+--------+---------+--------------------+--------------+--------------------+--------------------+----------------+------------+------------+------------+------------+---------------+
only showing top 20 rows

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [21]:
#10 wide_enrollments to elastic search

# Exclude the array columns to simplify the DataFrame
wide_column3 = wide_column2.drop('elective_courses', 'key_assignments', 'course_prerequisites', 'required_courses')

# Writing the DataFrame to Elasticsearch
wide_column3.write.format("org.elasticsearch.spark.sql") \
    .option("es.resource", "enrollments/_doc") \
    .option("es.nodes", elastic_host) \
    .option("es.port", elastic_port) \
    .mode("overwrite") \
    .save()

enrollments_from_elastic = spark.read.format("org.elasticsearch.spark.sql") \
    .option("es.resource", "enrollments/_doc") \
    .option("es.nodes", elastic_host) \
    .option("es.port", elastic_port) \
    .load()

enrollments_from_elastic.printSchema()
# Show the data to confirm it's been loaded
enrollments_from_elastic.show()

root
 |-- academic_year: string (nullable = true)
 |-- course: string (nullable = true)
 |-- course_credits: long (nullable = true)
 |-- course_description: string (nullable = true)
 |-- course_enrollment: long (nullable = true)
 |-- course_name: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: float (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_credits: long (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_type: string (nullable = true)
 |-- section: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- term: long (nullable = true)
 |-- term_name: string (nullable = true)
 |-- term_year: long (nullable = true)

+-------------+------+--------------+--------------------+-----------------+--------------------+-----+------------+------------+---------------+------------+------------+-------+--------+-----------+------------+----+-----------+---------+
|academic_year|course|course_credits|  course_description|course_enrollment|         course_name|grade|grade_points|program_code|program_credits|program_name|program_type|section|semester| student_id|student_name|term|  term_name|term_year|
+-------------+------+--------------+--------------------+-----------------+--------------------+-----+------------+------------+---------------+------------+------------+-------+--------+-----------+------------+----+-----------+---------+
|    2022-2023|IST615|             3|Cloud services cr...|               12|    Cloud Management|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|    Fall| artiechoke| Artie Choke|1231|  Fall 2022|     2022|
|    2022-2023|IST659|             3|Definition, devel...|               18|Data Administrati...|    A|         4.0|          DS|             34|Data Science|     Masters|   M002|    Fall| artiechoke| Artie Choke|1231|  Fall 2022|     2022|
|    2022-2023|IST687|             3|Introduces inform...|                6|Introduction to D...|    A|         4.0|          DS|             34|Data Science|     Masters|   M002|    Fall| artiechoke| Artie Choke|1231|  Fall 2022|     2022|
|    2022-2023|IST621|             3|Information and t...|               21|Information Manag...|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|  Spring| artiechoke| Artie Choke|1232|Spring 2023|     2023|
|    2021-2022|IST615|             3|Cloud services cr...|               18|    Cloud Management|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|  Spring| peteterpan| Pete Terpan|1222|Spring 2022|     2022|
|    2021-2022|IST687|             3|Introduces inform...|                5|Introduction to D...|   B+|       3.333|          DS|             34|Data Science|     Masters|   M001|    Fall| peteterpan| Pete Terpan|1221|  Fall 2021|     2021|
|    2021-2022|IST707|             3|General overview ...|               28|Applied Machine L...|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|    Fall| peteterpan| Pete Terpan|1221|  Fall 2021|     2021|
|    2022-2023|IST718|             3|A broad introduct...|               27|  Big Data Analytics|   A-|       3.667|          DS|             34|Data Science|     Masters|   M001|  Spring| peteterpan| Pete Terpan|1232|Spring 2023|     2023|
|    2022-2023|IST714|             3|Advanced, lab-bas...|               10|  Cloud Architecture|    B|         3.0|          DS|             34|Data Science|     Masters|   M001|  Spring| peteterpan| Pete Terpan|1232|Spring 2023|     2023|
|    2022-2023|IST659|             3|Definition, devel...|                1|Data Administrati...|   A-|       3.667|          DS|             34|Data Science|     Masters|   M001|  Spring|  camcorder|  Cam Corder|1232|Spring 2023|     2023|
|    2021-2022|IST687|             3|Introduces inform...|               15|Introduction to D...|   A-|       3.667|          DS|             34|Data Science|     Masters|   M001|    Fall|  camcorder|  Cam Corder|1221|  Fall 2021|     2021|
|    2021-2022|IST707|             3|General overview ...|               21|Applied Machine L...|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|    Fall|  camcorder|  Cam Corder|1221|  Fall 2021|     2021|
|    2022-2023|IST769|             3|Analyze relationa...|                3|Advanced Big Data...|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|  Spring|  camcorder|  Cam Corder|1232|Spring 2023|     2023|
|    2021-2022|IST718|             3|A broad introduct...|                6|  Big Data Analytics|   B-|       2.667|          DS|             34|Data Science|     Masters|   M001|  Spring|  camcorder|  Cam Corder|1222|Spring 2022|     2022|
|    2021-2022|IST659|             3|Definition, devel...|               22|Data Administrati...|   A-|       3.667|          DS|             34|Data Science|     Masters|   M001|  Spring|chaselounge|Chase Lounge|1222|Spring 2022|     2022|
|    2022-2023|IST687|             3|Introduces inform...|               12|Introduction to D...|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|  Spring|chaselounge|Chase Lounge|1232|Spring 2023|     2023|
|    2022-2023|IST722|             3|Introduction to c...|               22|    Data Warehousing|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|    Fall|chaselounge|Chase Lounge|1231|  Fall 2022|     2022|
|    2022-2023|IST621|             3|Information and t...|                1|Information Manag...|   B-|       2.667|          DS|             34|Data Science|     Masters|   M002|  Spring|chaselounge|Chase Lounge|1232|Spring 2023|     2023|
|    2021-2022|IST615|             3|Cloud services cr...|                4|    Cloud Management|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|  Spring|  macintosh|  Mac Intosh|1222|Spring 2022|     2022|
|    2022-2023|IST621|             3|Information and t...|               26|Information Manag...|    A|         4.0|          DS|             34|Data Science|     Masters|   M001|    Fall|  macintosh|  Mac Intosh|1231|  Fall 2022|     2022|
+-------------+------+--------------+--------------------+-----------------+--------------------+-----+------------+------------+---------------+------------+------------+-------+--------+-----------+------------+----+-----------+---------+
only showing top 20 rows

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [43]:
#11 reset neo4j database 

cipher_ql = '''
MATCH (n)
DETACH DELETE n
'''
df_neo = spark.createDataFrame(data = [{'row':1}])
df_neo.write.format("org.neo4j.spark.DataSource").mode("Overwrite") \
  .option("url", bolt_url) \
  .option("query",cipher_ql) \
  .save()

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [44]:
#12a load courses into Neo4j

# Define the columns to extract from the DataFrame
selected_columns = ["course", "course_name", "course_credits", "course_description"]

# Select distinct course records
unique_courses_df = wide_column3.select(selected_columns).distinct()

# Define the Cypher query for creating or merging course nodes in Neo4j
cypher_query = """
MERGE (c:Course {
    code: event.course, 
    name: event.course_name, 
    credits: event.course_credits, 
    description: event.course_description
})
"""

# Write the DataFrame to Neo4j using the Neo4j Spark Connector
unique_courses_df.write.format("org.neo4j.spark.DataSource") \
    .mode("Overwrite") \
    .option("url", bolt_url) \
    .option("query", cypher_query) \
    .save()

In [45]:
#12b load programs into neo4j

# Define the columns to extract from the DataFrame
selected_columns2 = ["program_code", "program_name", "program_credits", "program_type"]

# Select distinct program records
unique_programs_df2 = wide_column3.select(selected_columns2).distinct()

# Define the Cypher query for creating or merging program nodes in Neo4j
cypher_query2 = """
MERGE (p:Program {
    code: event.program_code, 
    name: event.program_name, 
    credits: event.program_credits, 
    type: event.program_type
})
"""

# Write the DataFrame to Neo4j using the Neo4j Spark Connector
unique_programs_df2.write.format("org.neo4j.spark.DataSource") \
    .mode("Overwrite") \
    .option("url", bolt_url) \
    .option("query", cypher_query2) \
    .save()

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [26]:
wide_column3.printSchema()

root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- student_name: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_type: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_credits: integer (nullable = true)

In [50]:
wide_column2.printSchema()

root
 |-- term: integer (nullable = true)
 |-- course_enrollment: integer (nullable = true)
 |-- course: string (nullable = true)
 |-- section: string (nullable = true)
 |-- student_id: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- grade_points: double (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- term_name: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- required_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- elective_courses: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- student_name: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_type: string (nullable = true)
 |-- program_code: string (nullable = true)
 |-- program_credits: integer (nullable = true)

In [47]:
#13a program course requirements

from pyspark.sql.functions import explode

required_relationships = wide_column2.select("program_code", explode("required_courses").alias("course_code"))
elective_relationships = wide_column2.select("program_code", explode("elective_courses").alias("course_code"))


# Defining the Cypher query for creating relationships between programs and required courses
cypher_query_required = """
MERGE (p:Program {code: event.program_code})
MERGE (c:Course {code: event.course_code})
MERGE (p)-[r:COURSE_REQUIRED]->(c)
"""

# Write the DataFrame that represents required relationships to Neo4j
required_relationships.write.format("org.neo4j.spark.DataSource") \
    .mode("Append") \
    .option("url", bolt_url) \
    .option("query", cypher_query_required) \
    .save()

In [48]:
#13b program course electives

# Define the Cypher query for creating relationships between programs and their elective courses
cypher_query_elective = """
MERGE (p:Program {code: event.program_code})
MERGE (c:Course {code: event.course_code})
MERGE (p)-[r:COURSE_ELECTIVES]->(c)
"""

# Execute the write operation to Neo4j, setting elective course relationships
elective_relationships.write.format("org.neo4j.spark.DataSource") \
    .mode("Append") \
    .option("url", bolt_url) \
    .option("query", cypher_query_elective) \
    .save()

In [36]:
wide_column.printSchema()

root
 |-- term_code: integer (nullable = true)
 |-- course_code: string (nullable = true)
 |-- section: string (nullable = true)
 |-- enrollment: integer (nullable = true)
 |-- capacity: integer (nullable = true)
 |-- academic_year: string (nullable = true)
 |-- semester: string (nullable = true)
 |-- term_year: integer (nullable = true)
 |-- course_name: string (nullable = true)
 |-- course_credits: integer (nullable = true)
 |-- course_description: string (nullable = true)
 |-- prerequisites: array (nullable = true)
 |    |-- element: string (containsNull = true)

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [ ]:
#14 course prerequisites 

relationships = wide_column2.select("course", explode("prerequisites")\
                                                      .alias("prerequisite_course_code"))

cipher_ql_prerequisites = """
MERGE (c:Course {code: event.course_code})
MERGE (pc:Course {code: event.prerequisite_course_code})
MERGE (c)-[r:REQUIRES]->(pc)
"""

df_prerequisites_relationships.write.format("org.neo4j.spark.DataSource") \
    .mode("Append") \
    .option("url", bolt_url) \
    .option("query", cipher_ql_prerequisites) \
    .save()

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [39]:
#15 Cypher query courses required in DS and IS
'''
MATCH (p1:Program {code: "IS"})-[:REQUIRES]->(course:Course),
      (p2:Program {code: "DS"})-[:REQUIRES]->(course)
RETURN course.code AS CourseCode, course.name AS CourseName
'''

'\nMATCH (p1:Program {code: "IS"})-[:REQUIRES]->(course:Course),\n      (p2:Program {code: "DS"})-[:REQUIRES]->(course)\nRETURN course.code AS CourseCode, course.name AS CourseName\n'

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [41]:
#16 Cypher to spark table

# Define the Cypher query to retrieve course information and the count of programs that require each course
cypher_query = """
MATCH (course:Course)<-[:REQUIRES]-(program:Program)
RETURN course.code AS CourseCode, course.name AS CourseTitle, count(program) AS ProgramCount
"""

# Read the results of the Cypher query into a Spark DataFrame using the Neo4j Spark Connector
programs_courses_df = spark.read.format("org.neo4j.spark.DataSource")\
    .option("url", bolt_url)\
    .option("query", cypher_query)\
    .load()

# Display the DataFrame to verify contents
programs_courses_df.show()

+----------+--------------------+------------+
|CourseCode|         CourseTitle|ProgramCount|
+----------+--------------------+------------+
|    IST707|Applied Machine L...|           1|
|    IST718|  Big Data Analytics|           1|
|    IST687|Introduction to D...|           1|
|    IST615|    Cloud Management|           2|
|    IST659|Data Administrati...|           2|
|    IST621|Information Manag...|           1|
+----------+--------------------+------------+

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.