# IST769 Final Exam

**INSTRUCTIONS FOR HIGHEST GRADE POSSIBLE**

Unless you are explicitly instructed otherwise, answer each of the following using PySpark / Spark SQL. For any queries you write make sure to include a `printSchema()` and sample(s) of the output which clearly demonstrates the code is correct.

In [ ]:
! sudo cp /home/jovyan/work/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [ ]:
!pip install -q cassandra-driver

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
# YOUR NAME ========>   
# YOUR SU EMAIL ====>

### Question 1

In the cell below configure a spark session that is configured to connect to `mongodb`, `minio`, `cassandra`, '`elasticsearch` and `neo4j`.

In [ ]:
#1 Spark session

### Question 2

Demonstrate you can read the process-oriented data `enrollments` and `sections` from `minio` using PySpark.

In [ ]:
#2a enrollments

In [ ]:
#2b sections

### Question 3

Demonstrate you can read the reference-oriented data `terms`, `students`, `courses`, and `program` reference data from `MongoDb` using PySpark.

In [ ]:
#3a terms

In [ ]:
#3b courses

In [ ]:
#3c Programs

In [ ]:
#3d students

### Question 4

Prepare the `section` data for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. Just PREPARE it do not LOAD it. Remember that we want this data to be as wide as possible, so include all relevant reference data. For example, the `section` data should include `term` attributes like `year`,  `academic year`, etc... and from `course`, attributes like `credits`, `name`, `prerequisites`, etc...

In [ ]:
#4 wide_sections

### Question 5

Use the `cassandra-driver` example from class to write python code to connect to cassandra from within Jupyter and create a keyspace named `ischooldb`. Design a cassandra table called `sections` to store the data from question 4. Appropriate key design is important! Please explain your justification for key below your table definition. Provide clear evidence that your table was created by querying the empty table in spark and use `printSchema()` to show the schema.

In [ ]:
#5 create cassandra table for wide_sections

### Question 6

Load the data frame you created in question 4 into the `cassandra` table you created in question 5. Demonstrate the data is in the table by querying back it with PySpark. Make sure you can run the code multiple times and each time it replaces the existing data.

In [ ]:
#6 load wide_sections into cassandra

### Question 7

Since we did not learn how to create a custom elasticsearch mapping, before you can load the data into `elasticsearch` you will need to flatten the nested data. For example, `course_is_elective_in_programs` should generate 2 columns `course_is_elective_for_IS` and `course_is_elective_for_DS`. You'll need to repeat this step for `course_is_required_in_programs`. Omit the `course_prerequisites` and `course_key_assignments` column.

In [ ]:
#7 flatten `course_is_elective_in_programs` and `course_is_required_in_programs`

### Question 8

Load the data frame you created in question 7 into `elasticsearch`, under the index `sections`.  Demonstrate the data is in the index by querying back it with PySpark.

In [ ]:
#8 load wide_sections_flattened into elasticsearch

### Question 9

Similar to question 4, prepare the `enrollments` for loading into `cassandra` and `elasticsearch` with Spark or Spark SQL. For this wide table we want to include the same reference data for `sections` but include the `student` attributes and the `program` data associated with the student.

In [ ]:
#9 create wide_enrollments

### Question 10

Load the data frame you created in question 8 into `elasticsearch`, under the index `enrollments`. This time, just Omit all array types to make the problem simpler (`elective_courses`, `key_assignments`, `course_prerequisites`, etc...)

In [ ]:
#10 wide_enrollments to elastic search

### Question 11

Write spark to clear the `neo4j` database of all nodes and relationships.

In [ ]:
#11 reset neo4j database

### Question 12

Load the `courses` and `program` data into `neo4j` as nodes. Exclude the `requirements`, `electives` and `prerequisites` from the node attributes. Demonstrate the data in `neo4j` by querying back it using one or more Cypher queries. NOTE: the Neo4J `name` attribute is what will display on the node bubbles.

In [ ]:
#12a load courses into Neo4j

In [ ]:
#12b load programs into neo4j

### Question 13

Load the `requirements` and `electives` data into `neo4j` as relationships to the nodes you created in Question 12. Use the `program` data to form the `required` and `elective` course relationships. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [ ]:
#13a program course requirements

In [ ]:
#13b program course electives

### Question 14

Load the `prerequisites` into `neo4j` as relationships to the `course` nodes you created in Question 12. Demonstrate the relationships in `neo4j` are present by querying back it using one or more Cypher queries.

In [ ]:
#14 course prerequisites

### Question 15

Write a Cypher query to display courses which are required by both the `IS` and `DS` programs.

In [ ]:
#15 Cypher query courses required in DS and IS

### Question 16

Write a Cypher query to retrieve the `course code`, `course title`, and the count of programs the course is a requirement in. Write as a Cypher query but retrieve the  output as a Spark Dataframe.

In [ ]:
#16 Cypher to spark table

### Questions 17,18,19 and 20

These are not spark questions as they use kibana.